.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 80px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .pagination-list {
    margin-top: 40px;
  }
}

.pagination-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;

  border-radius: 50%;
}

.pagination-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #0a0a11;

  cursor: pointer;
}
html.dark .pagination-list a {
  color: #f3f3f3;
}

.pagination-list .selected a {
  color: #f3f3f3;
}
.pagination-list .selected {
  background-color: rgb(64, 112, 205);
}
html.dark .pagination-list .selected {
  background-color: rgba(64, 112, 205, 0.5);
}

.pagination-list a svg {
  width: 9px;
  height: 15px;
  fill: rgba(10, 10, 17, 0.3);
}
html.dark .pagination-list a svg {
  fill: rgba(243, 243, 243, 0.3);
}
.pagination-list .next svg {
  rotate: 180deg;
}

.pagination-list .previous {
  margin-right: 20px;
}

.pagination-list .next {
  margin-left: 20px;
}
