@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../dist/fonts.css');

:root {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #0a0a11;
  color: #fff;
}
