@tailwind base;
@tailwind components;
@tailwind utilities;

/* add flexibility for pages */

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

/* add flexibility for pages */

:root {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #0a0a11;
  color: #f3f3f3;
}

/* Welcome-SignIn-SignUp-Pages */
@layer base {
  .bg-image-set {
    background-image: image-set(
      url('assets/img/welcomePage/mobile-bg-welcome-page.png') 1x,
      url('assets/img/welcomePage/mobile-bg-welcome-page@2x.png') 2x
    );
  }
  .bg-image-set-tablet {
    background-image: image-set(
      url('assets/img/welcomePage/tablet-bg-welcome-page.png') 1x,
      url('assets/img/welcomePage/tablet-bg-welcome-page@2x.png') 2x
    );
  }
  .bg-image-set-desktop {
    background-image: image-set(
      url('assets/img/welcomePage/desktop-bg-welcome.png') 1x,
      url('assets/img/welcomePage/desktop-bg-welcome@2x.png') 2x
    );
  }
}

/* .restricted-page-container {
  @apply bg-image-set bg-cover min-h-[100vh] md:bg-image-set-tablet lg:bg-image-set-desktop lg:bg-background-color flex justify-center items-center py-[20px] px-[20px] md:px-[64px] lg:px-[100px];
} */

.restricted-page-container {
  @apply bg-image-set bg-cover min-h-[100vh] md:bg-image-set-tablet lg:bg-image-set-desktop lg:bg-background-color flex justify-start items-center py-[20px] px-[20px] md:px-[64px] lg:px-[100px];
}
.input-form {
  @apply w-full bg-transparent h-[54px] rounded-[42px] bg-contain border-[1px] border-border-color hover:border-grey-text-color transition-colors hover:placeholder-grey-text-color text-[14px] leading-[1.29] placeholder-border-color py-[18px] px-[24px] outline-none md:text-[17px] md:pt-[14px] md:pb-[15px];
}

.input-form.error {
  @apply border-error-color;
}

.input-form.correct {
  @apply border-correct-color;
}

.errorMsg {
  @apply text-error-color text-[12px] ml-[24px] mt-[8px];
}

.correctMsg {
  @apply text-correct-color text-[12px] ml-[24px] mt-[8px];
}

.form-sign-up-container {
  @apply container py-[280px] m-auto md:pl-[32px] md:py-[153px] lg:pl-[100px];
}

.form-sign-in-container {
  @apply container py-[259px] m-auto md:pl-[32px] md:py-[350px] lg:py-[223px] lg:pl-[100px];
}
.input-form {
  @apply w-full bg-transparent h-[54px] rounded-[42px] bg-contain border-[1px] border-border-color hover:border-grey-text-color transition-colors hover:placeholder-primary-text-color text-[14px] leading-[1.29] placeholder-border-color py-[18px] px-[24px] outline-none md:text-[17px]  md:pt-[14px] md:pb-[15px];
}
.input-container {
  @apply flex flex-col gap-[14px] md:w-[400px];
}
.react-datepicker {
  @apply left-[-51px] md:left-[-34px] lg:left-[-18px];
}
.form-title {
  @apply text-welcome-text-color text-[28px] mb-[28px] font-semibold leading-[1.14] md:text-[40px] md:leading-[1.1];
}
.welcome-title {
  @apply text-welcome-text-color text-center text-[28px] font-semibold mb-[14px] leading-[1.14] md:text-[40px] md:leading-[1.1];
}
.welcome-desc {
  @apply text-welcome-text-color text-center w-[319px] text-sm leading-[1.29] md:w-[470px] md:text-[18px] md:leading-[1.33] md:text-left lg:w-[500px];
}
.btn-container {
  @apply flex flex-col gap-[14px] mt-[28px] md:mt-[40px] md:w-[400px];
}
.sign-btn {
  @apply bg-primary-text-color  text-primary-text-button-color font-semibold pr-[64px] rounded-r-[42px] text-[14px] leading-[1.29] w-[285px] md:text-[16px] md:leading-[1.1] md:py-[18px] md:h-[56px] md:w-[335px];
}
.signup-btn {
  @apply pr-[54px];
}
.sign-google {
  @apply bg-primary-text-color py-[12px] px-[22px] rounded-l-[42px] max-w-[65px] md:py-[12px] md:h-[56px];
}

.sign-link-btn {
  @apply transition hover:decoration-primary-text-color outline-none underline decoration-grey-text-color font-semibold text-center text-primary-text-color text-[12px] leading-[1.33] md:text-[14px] md:leading-[1.29];
}

/* Buttons Welcome Page */
.welcome-sign-in-link {
  @apply transition shadow-lg hover:shadow-primary-text-color/50 hover:bg-primary-text-button-color  text-primary-text-color  py-[14px] px-[40px] rounded-[42px] border-[1px] border-border-color text-[14px] leading-[1.29] 
  md:py-[18px] md:px-[44px] md:text-[16px] md:leading-[1.12];
}
.welcome-sign-up-link {
  @apply transition shadow-lg hover:shadow-primary-text-color/50 bg-primary-text-color text-primary-text-button-color font-semibold py-[14px] px-[40px] rounded-[42px] text-[14px] leading-[1.29] 
  md:py-[18px] md:px-[44px] md:text-[16px] md:leading-[1.12];
}
.btn-up {
  border: 1px solid rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  animation: flickering 1.5ms linear infinite both;
  background-color: rgba(243, 243, 243, 0.5);
}
.btn-up:hover {
  background-color: #434d67;
  color: #f3f3f3;
}

.btn-google {
  border: 1px solid rgb(255, 255, 255);
  border-right: none;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
  animation: flickering 1.5ms linear infinite both;
  background-color: rgba(243, 243, 243, 0.5);
}

.btn-google:hover {
  background-color: #434d67;
  color: #f3f3f3;
}
.btn-in:hover {
  background-color: #161f37;
  filter: drop-shadow(0px 0px 4px rgb(231, 231, 231));
}

.blob {
  border-radius: 50%;
  margin: 10px;
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

/* Typing-Text-Effect */
.typing-container {
  display: inline-block;
  font-family: 'arial';
  font-size: 24px;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 2.5s;
  animation-timing-function: steps(25, end);
  animation-fill-mode: forwards;
  text-overflow: ellipsis;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.type::after {
  content: '...';
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

/* Footer */
@layer base {
  .bg-footer-set {
    background-image: image-set(
      url('assets/img/footer/mobile-bg-footer.png') 1x,
      url('assets/img/footer/mobile-bg-footer@2.png') 2x
    );
  }
  .bg-footer-set-tablet {
    background-image: image-set(
      url('assets/img/footer/tablet-bg-footer.png') 1x,
      url('assets/img/footer/tablet-bg-footer@2x.png') 2x
    );
  }
  .bg-footer-set-desktop {
    background-image: image-set(
      url('assets/img/footer/desktop-bg-footer.png') 1x,
      url('assets/img/footer/desktop-bg-footer@2x.png') 2x
    );
  }
}
/* Home-Page */
@layer base {
  .bg-home-set {
    background-image: image-set(
      url('assets/img/homePage/mobile-bg-homepage.png') 1x,
      url('assets/img/homePage/mobile-bg-homepage@2x.png') 2x
    );
  }
  .bg-home-set-tablet {
    background-image: image-set(
      url('assets/img/homePage/tablet-bg-homepage.png') 1x,
      url('assets/img/homePage/tablet-bg-homepage@2x.png') 2x
    );
  }
  .bg-home-set-desktop {
    background-image: image-set(
      url('assets/img/homePage/desktop-bg-homepage.png') 1x,
      url('assets/img/homePage/desktop-bg-homepage@2x.png') 2x
    );
  }
}

/* Common Pages */
@layer base {
  .bg-common-set {
    background-image: image-set(
      url('assets/img/commonPages/mobile-bg-commonpage.png') 1x,
      url('assets/img/commonPages/mobile-bg-commonpage@2x.png') 2x
    );
  }
  .bg-common-set-tablet {
    background-image: image-set(
      url('assets/img/commonPages/tablet-bg-commonpage.png') 1x,
      url('assets/img/commonPages/tablet-bg-commonpage@2x.png') 2x
    );
  }
  .bg-common-set-desktop {
    background-image: image-set(
      url('assets/img/commonPages/desktop-bg-commonpage.png') 1x,
      url('assets/img/commonPages/desktop-bg-commonpage@2x.png') 2x
    );
  }
}
/* Favorites Page */
@layer base {
  .bg-favorites-set {
    background-image: image-set(
      url('assets/img/favoritesPage/mobile-bg-favorite.png') 1x,
      url('assets/img/favoritesPage/mobile-bg-favorite@2x.png') 2x
    );
  }
  .bg-favorites-set-tablet {
    background-image: image-set(
      url('assets/img/favoritesPage/tablet-bg-favorites.png') 1x,
      url('assets/img/favoritesPage/tablet-bg-favorites@2x.png') 2x
    );
  }
  .bg-favorites-set-desktop {
    background-image: image-set(
      url('assets/img/favoritesPage/desktop-bg-favorites.png') 1x,
      url('assets/img/favoritesPage/desktop-bg-favorites@2x.png') 2x
    );
  }
}

/* Search Filters Select styles  */

.searchSelect__control {
  background-color: #161f37 !important;
  border: none !important;
  border-radius: 200px !important;
  width: 335px !important;
  height: 54px !important;
  box-shadow: none !important;
  color: #f3f3f3;
  padding: 18px 24px;
  align-content: center;
  font-size: 14px !important;
  line-height: 129% !important;
}

.searchSelect__menu {
  background-color: #161f37 !important;
  color: rgba(243, 243, 243, 0.4) !important;
  border-radius: 20px !important;
  width: 335px !important;
  padding: 18px 24px;

  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 129% !important;
}
@media screen and (min-width: 768px) {
  .searchSelect__control {
    width: 199px !important;
    height: 56px !important;
    padding: 14px 23px;
    font-size: 15px !important;
  }
  .searchSelect__menu {
    width: 199px !important;
    padding: 14px 23px;
    font-size: 17px !important;
    line-height: 156% !important;
  }
}
.searchSelect__placeholder {
  color: rgba(243, 243, 243, 0.4) !important;
  font-size: 17px !important;
}
.searchSelect__control:hover {
  background-color: #050e24 !important;
}
.searchSelect__input {
  color: #f3f3f3 !important;
  padding: 0 !important;
}
.searchSelect__value-container {
  padding: 0 !important;
}
.searchSelect__single-value {
  color: #f3f3f3 !important;
}

.searchSelect__option {
  background-color: transparent !important;
  cursor: pointer !important;
  padding: 0 !important;
  margin-bottom: 8px !important;
}
.searchSelect__option:hover {
  color: #f3f3f3 !important;
}

.searchSelect__control--menu-is-open .css-tj5bde-Svg {
  transform: rotate(180deg) !important;
}
.searchSelect__indicator:hover {
  color: #f3f3f3 !important;
}

.searchSelect__indicator-separator {
  display: none !important;
}
.searchSelect__clear-indicator {
  cursor: pointer;
  width: 17px !important;
  color: #f3f3f3 !important;
  padding: 0 !important;
  margin-right: 5px;
}
.searchSelect__dropdown-indicator {
  cursor: pointer;
  width: 17px !important;
  color: #f3f3f3 !important;
  padding: 0px !important;
}

/* Animation */

@keyframes selectMenu {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Add photo */
.containerPhoto:hover .addPhotoButton {
  background: rgba(64, 112, 205, 0.5);
}

.containerPhoto:hover .svgPhotoAddDrink {
  stroke: #f3f3f3;
}

/* AddDrinks Select */
.custom_select__control {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  min-height: 34px !important;
  width: 335px !important;
  height: 34px !important;
  border-bottom: 1px solid rgba(243, 243, 243, 0.5) !important;
  box-shadow: none !important;
  cursor: pointer !important;
  justify-content: end !important;
  column-gap: 8px !important;
  align-items: flex-start !important;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.custom_select__control:hover {
  border-bottom: 1px solid #f3f3f3 !important;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #434d67 !important;
  border-radius: 20px !important;
  width: 8px !important;
  height: 110px !important;
  margin-left: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.custom_select__menu {
  position: absolute !important;
  top: 100% !important;
  right: 0 !important;
  z-index: 999 !important;
  background-color: #161f37 !important;
  color: rgba(243, 243, 243, 0.4) !important;
  border-radius: 12px !important;
  width: 131px !important;
  max-height: 286px !important;
  overflow: hidden !important;
  padding: 10px !important;

  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 133% !important;
  animation: selectMenu 400ms ease-out !important;
}

.custom_select__value-container--has-value {
  max-width: 230px !important;
}

.custom_select__value-container {
  padding: 0 !important;
}

.custom_select__single-value {
  margin: 0 !important;
}

.custom_select__input-container {
  margin: 0 !important;
  padding: 0 !important;
}

.custom_select__input {
  color: #f3f3f3 !important;
}

.custom_select__single-value {
  color: #f3f3f3 !important;
  text-align: end !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 100% !important;
  width: fit-content !important;
  margin-left: auto !important;
}

.custom_select__input::placeholder {
  color: rgba(243, 243, 243, 0.5) !important;
}

.custom_select__indicator-separator {
  display: none !important;
}

.custom_select__indicator {
  padding: 0 !important;
  cursor: pointer;
  color: #f3f3f3 !important;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.custom_select__indicator:hover {
  color: #848080 !important;
}

.custom_select__option {
  background-color: transparent !important;
  cursor: pointer !important;
  padding: 0 !important;
  margin-bottom: 6px !important;
}

.custom_select__indicator .css-tj5bde-Svg {
  transition: transform 0.3s ease-in-out !important;
}

.custom_select__indicators {
  align-items: flex-start !important;
}

.custom_select__control--menu-is-open .css-tj5bde-Svg {
  transform: rotate(180deg) !important;
}

@media screen and (min-width: 768px) {
  .custom_select__control {
    width: 352px !important;
    height: 41px !important;
  }
  .custom_select__menu {
    border-radius: 20px !important;
    width: 139px !important;
  }
}
@media screen and (min-width: 1440px) {
  .custom_select__control {
    width: 393px !important;
  }
  .custom_select__menu {
    width: 154px !important;
    height: 306px !important;
    font-size: 14px !important;
    line-height: 129% !important;
  }
}

/* Ingredients Select */

.ingredientsSelect__control {
  background-color: transparent !important;
  border: none !important;
  border: 1px solid rgba(243, 243, 243, 0.5) !important;
  border-radius: 200px !important;
  width: 200px !important;
  height: 50px !important;
  box-shadow: none !important;
  color: #f3f3f3 !important;
  cursor: pointer !important;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.ingredientsSelect__control:hover {
  border: 1px solid #f3f3f3 !important;
}

.ingredientsSelect__menu {
  background-color: #161f37 !important;
  color: rgba(243, 243, 243, 0.4) !important;
  border-radius: 12px !important;
  width: 200px !important;
  height: 286px !important;
  overflow: hidden !important;
  padding: 10px !important;

  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 133% !important;
  animation: selectMenu 400ms ease-out !important;
}

.ingredientsSelect__input {
  color: #f3f3f3 !important;
  text-align: end !important;
}

.ingredientsSelect__placeholder {
  color: rgba(243, 243, 243, 0.5) !important;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.ingredientsSelect__control:hover .ingredientsSelect__placeholder {
  color: #f3f3f3 !important;
}

.ingredientsSelect__indicators {
  margin-right: 18px !important;
}

.ingredientsSelect__indicator-separator {
  display: none !important;
}

.ingredientsSelect__option {
  background-color: transparent !important;
  cursor: pointer !important;
  padding: 0 !important;
  margin-bottom: 6px !important;
}

.ingredientsSelect__indicator .css-tj5bde-Svg {
  transition: transform 0.5s ease-in-out !important;
}

.ingredientsSelect__control--menu-is-open .css-tj5bde-Svg {
  transform: rotate(180deg) !important;
}

.ingredientsSelect__indicator {
  cursor: pointer;
  color: #f3f3f3 !important;
  padding: 0 !important;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.ingredientsSelect__control:hover .ingredientsSelect__indicator {
  color: #848080 !important;
}

.ingredientsSelect__value-container {
  padding: 0 !important;
  margin-left: 18px !important;
}

.ingredientsSelect__single-value {
  margin: 0 !important;
  color: #f3f3f3 !important;
}

.ingredientsSelect__input-container {
  padding: 0 !important;
  margin: 0 !important;
}

@media screen and (min-width: 768px) {
  .ingredientsSelect__control {
    width: 332px !important;
    height: 56px !important;
  }
}

@media screen and (min-width: 1440px) {
  .ingredientsSelect__control {
    width: 316px !important;
  }
}
