.flex-container {
  display: flex;
  gap: 10px;
  margin-right: 5px;
}

.button {
  font-size: 14px;
  font-weight: 500;
  color: #f3f3f3;
  transition: color 0.3s;
  outline: none;
}

.active {
  font-weight: bold;
  color: rgba(243, 243, 243, 0.5); 
}