.title {
  position: relative;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 119%;
  color: #f3f3f3;
  margin-left: 20px;
  margin-top: 152px;
  z-index: 2;
  margin-bottom: 0;
}
.text {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #f3f3f3;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 16px;
  z-index: 2;
}
.link {
  position: relative;
  border-radius: 42px;
  width: 151px;
  height: 46px;
  background-color: #f3f3f3;
  margin-left: 20px;
  display: flex;
  margin-top: 32px;
  z-index: 2;
  font-weight: 600;
  font-size: 16px;
  line-height: 112%;
  color: #161f37;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

.image {
  position: relative;
  width: 252px;
  height: 313px;
  top: 47px;
  bottom: 112px;
  margin-left: 62px;
  margin-right: 61px;
  z-index: 2;
  margin-bottom: 112px;
}
.image3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.image4 {
  position: absolute;
  top: 414px;
  bottom: 0;
  right: 0;
  z-index: 1;

}
.image5 {
  display: none;
}
@media (min-width: 768px) {
  .image4{
    top: 214px;
  }
  .title {
   font-weight: 600;
   font-size: 56px;
   line-height: 107%;
   margin-left: 32px;
   margin-right: 95px;
   margin-bottom: 0;

  }
  .text{
    margin-left: 32px;
    margin-right: 117px;
    margin-top: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 0;
  }
  .link{
     margin-left: 32px;
     margin-top: 48px;
  }
  .image {
    width: 359px;
    height: 445px;
    margin-left: 205px;
    margin-top: 54px;
  }
}
@media (min-width: 1440px) {
  .container{
    width: 715px;
    height: 330px;
    margin-top: 185px;
    margin-left: 100px;
  }
    .title {
    font-weight: 600;
    font-size: 64px;
    line-height: 106%;
    margin: 0;

  }
  .text{
    font-family: var(--font-family);
    padding-top: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    margin: 0;
    padding-right: 215px;
    padding-bottom: 40px;

  }

 .image {
  position: absolute;
  top: 128px; 
  right: 136px;
  margin: 0;
}
.link{
  font-weight: 600;
  font-size: 16px;
  line-height: 112%;
  border-radius: 42px;
  width: 160px;
  height: 54px;
  margin: 0;
}
.image5 {
  display: block;
    position: absolute;
    top: 203px;
    left: 660px;
    right: 193px;
    z-index: 1;
}
}